<div class="about">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <img class="img-thumbnail rounded mx-auto d-block" src="{{site.author_profile_pic}}"
                alt="{{site.author_name}} profile picture">
        </div>
        <div class="col-12 col-sm-12 col-md-6 title-name">
            <h2 class="display-4 text-center">
                {{site.author_name}}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Hi! I am a software engineer working at Rivian building the Rivian cloud ecosystem and in-car sync agent.
            I did my Masters in computer science from ASU. Interested in all things web, full stack, big data and scaling applications.
            Previously a full stack developer with two years experience in startups. I am super enthusiastic about technology, sci-fi, startups, books and gaming.</p>
        </div>
    </div>
</div>