<div class="experience">
    <div class="container">

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-5">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-rivian-list" data-toggle="list"
                        href="#list-rivian" role="tab" aria-controls="rivian">
                        <h5 class="card-title">Software Engineer</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Rivian</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Jun 2018 - Present</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-asu-list" data-toggle="list"
                        href="#list-asu" role="tab" aria-controls="asu">
                        <h5 class="card-title">Student Developer</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Arizona State University</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Nov 2016 - May 2018</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-looksmash-list" data-toggle="list"
                        href="#list-looksmash" role="tab" aria-controls="looksmash">
                        <h5 class="card-title">Freelancer</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Looksmash</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">May 2015 - June 2016</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-cb-list" data-toggle="list"
                        href="#list-cb" role="tab" aria-controls="cb">
                        <h5 class="card-title">Software Developer</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Codebrahma</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">June 2014 - Mar 2016</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-cbintern-list" data-toggle="list"
                        href="#list-cbintern" role="tab" aria-controls="cbintern">
                        <h5 class="card-title">Software Developer Intern</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Codebrahma</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Dec 2013 - May 2014</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-sbi-list" data-toggle="list"
                        href="#list-sbi" role="tab" aria-controls="settings">
                        <h5 class="card-title">Software Developer Intern</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">State Bank of India</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Jun 2013 - Jul 2013</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-ieee-list" data-toggle="list"
                        href="#list-ieee" role="tab" aria-controls="ieee">
                        <h5 class="card-title">Event Coordinator</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">IEEE VIT Student Branch</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Aug 2010 - Apr 2012</h6>
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-acto-list" data-toggle="list"
                        href="#list-acto" role="tab" aria-controls="actp">
                        <h5 class="card-title">Chief Graphic Designer</h5>
                        <h6 class="card-subtitle mb-2 text-muted company">Actonate</h6>
                        <h6 class="card-subtitle mb-2 text-muted date">Sept 2010 - May 2011</h6>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-7">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-rivian" role="tabpanel"
                        aria-labelledby="list-rivian-list">
                        <p class="card-text">
                            Software Engineer
                        <ul class="list-unstyled">
                            <li>Software Engineer, Cloud</li>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-asu" role="tabpanel" aria-labelledby="list-asu-list">
                        <p class="card-text">
                            Student Developer at Global Outreach and Extended Education (GOEE)
                        <ul class="list-unstyled">
                            <li>Involved in designing, development and maintenance of ASU's GOEE sites mainly using
                                Drupal, JavaScript, SCSS.</li>
                            <li>Built style guides and documentations for all active web projects for easy management.
                            </li>
                            <li>
                                Updated most of the active projects from CSS, LESS to consistent SCSS styles with
                                emphasis on responsiveness, accessibility,
                                device and media type friendliness.
                            </li>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-looksmash" role="tabpanel"
                        aria-labelledby="list-looksmash-list">
                        <p class="card-text">
                            <i>Technical Advisor:</i>
                            <br> Advising on the tech stack and development strategies for the product during its
                            infancy.
                            <br>
                            <br>

                            <i>Lead Developer:</i>
                        <ul class="list-unstyled">
                            <li>Worked mainly on the backend infrastructure and APIs and some parts of frontend</li>
                            <li>Handled deployments to AWS and project management.</li>
                        </ul>

                        Technologies used:
                        <br> Ruby on Rails, Angular JS, Postgres, SCSS
                        <br> AWS: EC2, S3, RDS
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-cb" role="tabpanel" aria-labelledby="list-cb-list">
                        <p class="card-text">
                        <p>Managed projects, gathered requirements from clients, designed and developed web apps, their
                            APIs and unit testing, handled
                            deployments and maintenance.</p>
                        <p>Developed a 'job recommendation engine' and 'user recommendation engine' for a job portal and
                            its sister site (an applicant
                            tracking system) using k means clustering to identify similar user and job groups based on
                            their text data obtained from
                            description, skill fields.</p>

                        <i>Job Portal/ATS</i>
                        <ul class="list-unstyled">
                            <li>
                                Built the core backend functionality of the job portal and ATS along with integrations
                                to payment system (Stripe), sms service
                                (Twilio) and internal search with Solr.
                            </li>
                            <li>
                                Built the frontend to be a single page application (SPA) using angular JS.
                            </li>
                            <li>
                                Job recommendation, tracking, user profile management, job alert emails, newsletters
                            </li>
                            <li>
                                Analytics tools for companies to track their jobs, user data and other stats.
                            </li>
                            <li>
                                Monthly subscription management Used Ruby on Rails, Postgres, Neo4j, Redis and
                                AngularJS, Unit testing (TDD) using Rspec.
                            </li>
                        </ul>

                        <i>Slack Clone</i>
                        <ul class="list-unstyled">
                            <li>
                                Built features like teams and their member payment subscription system, (bots)
                                integrations for Github, Twitter, Stripe (via
                                webhooks) for the slack clone on top of an open source real time chat application
                                (Rocket.Chat).
                            </li>
                            <li>
                                Built Meteor methods (RPC) for mobile clients using DDP, web sockets.
                            </li>
                        </ul>

                        <i>Pinterest Clone</i>
                        <ul class="list-unstyled">
                            <li>Developed a product discovery platform for an international shopping site with a tag
                                based search functionality and product
                                price retrieval from various sources using PhantomJS, IsotopeJS, Meteor JS and MongoDB.
                            </li>
                        </ul>

                        <i>University social network</i>
                        <small>(This platform evolved into a job portal)</small>
                        <p>
                            Developed a social network platform for major universities in india with capabilities such
                            as
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                Social feeds with personalized feed populating from custom news sources (RSS) feeds,
                                friend feeds and shared posts, polls,
                                rich link sharing.
                            </li>
                            <li>
                                Messaging service
                            </li>
                            <li>In-house survey tool</li>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-cbintern" role="tabpanel" aria-labelledby="list-cbintern-list">
                        <p class="card-text">
                            Full stack web development, TDD, deploying and maintenance
                        <ul class="list-unstyled">
                            <li>
                                Learning tools for full stack development.
                            </li>
                            <li>
                                Involved in building a coaching platform for clients.
                            </li>
                            <li>
                                Built user login and profile management system.
                            </li>
                            <li>
                                Built client and coaching relationship modules
                            </li>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-sbi" role="tabpanel" aria-labelledby="list-sbi-list">
                        <p class="card-text">
                            <i>Intranet Site:</i>
                        <ul class="list-unstyled">
                            <li>
                                Redesigned and developed intranet site from scratch for cross platform and cross browser
                                compatibility to work seamlessly
                                on IE7 to the latest versions of Firefox, Chrome etc..
                            </li>
                            <li>
                                Developed an efficient website by implementing jQuery, AJAX and Oracle SQL to not only
                                reduce server load but also reduce
                                bandwidth usage. (The site gets 20k+ page views each day).
                            </li>
                            <li>Learn web security concepts like sql injection</li>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="list-ieee" role="tabpanel" aria-labelledby="list-ieee-list">
                        <p class="card-text">
                        <p>Also held designer position (2010), web admin position (2011).</p>

                        <ul class="list-unstyled">
                            <li>
                                Designed posters for various IEEE events within campus.
                            </li>
                            <li>
                                Conducted seminar on PHP basics.
                            </li>
                            <li>Managed IEEE student chapter website.</li>
                        </ul>
                        </p>

                        <div id="carouselIeee" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="assets/images/carousel/extreme5.jpg" alt="Ieee extreme">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/ar.jpg"
                                        alt="augmented reality event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/bughunt.jpg" alt="bug hunt event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/bughunt1.jpg" alt="bug hunt event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/ieee-3.png"
                                        alt="ieee extreme 3 event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/ieee-erp.jpg" alt="ieee erp event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/silverlight1.jpg"
                                        alt="silverlight event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/welcome2011.jpg"
                                        alt="welcome 2011 event">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/xtrem3.jpg"
                                        alt="ieee extreme event">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselIeee" role="button" data-slide="prev">
                                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                <span class="fa fa-caret-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselIeee" role="button" data-slide="next">
                                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-acto" role="tabpanel" aria-labelledby="list-acto-list">
                        <p class="card-text">Designed many banners, posters and actively participated in their Web
                            Design team.</p>

                        <div id="carouselActo" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="assets/images/carousel/2011-5.jpg" alt="2011">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/actonate_activating_innovations.jpg"
                                        alt="actonate">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/fry-day-small.png"
                                        alt="Fry day logo">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/ar.jpg" alt="Augmented reality">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/banner-1.jpg" alt="banner">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/itbuzz.png" alt="it buzz logo">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/itc2.png"
                                        alt="ITC indian tandoori chicken">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="assets/images/carousel/keyur.jpg" alt="event slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselActo" role="button" data-slide="prev">
                                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                                <span class="fa fa-caret-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselActo" role="button" data-slide="next">
                                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>