<div class="portfolio">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <a href="/react-catch" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/react-catch.png" alt="React catch a fish app">
                        </div>
                        <div class="content">
                            <b>Web Experiments/Order fish store</b>
                            <br>
                            <p>Experimenting with React and ES6.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="/dv-lab/heatmaps/project/" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/heatmaps.png" alt="Data visualization heatmap">
                        </div>
                        <div class="content">
                            <b>Web Experiments/Visualizing Heatmaps</b>
                            <br>
                            <p>Data visualization of stackoverflow question frequency
                                by the hour during a month's period via heatmaps</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="http://aw-pramodh.herokuapp.com/" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/aw-stackoverflow.png" alt="Tracking and analysis chrome extention">
                        </div>
                        <div class="content">
                            <b>Behaviour Tracking and analysis</b>
                            <br>
                            <p>Personalized behaviour tracking and analysis on stackoverflow using chrome extension.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="/web-experiments/realtime-charts.html" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/realtime-graphs.png" alt="Realtime chart">
                        </div>
                        <div class="content">
                            <b>Web Experiments/Realtime charts</b>
                            <br>
                            <p>Testing realtime charts using charts.js</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://github.com/satyapramodh/galvanize-hackathon2017" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/aframe-ar.png" alt="WebVR using Aframe">
                        </div>
                        <div class="content">
                            <b>Hackathon/galvanize 2017</b>
                            <br>
                            <p>Experimenting WebVR/AR and Three.js capabilities during the galvanize AZ hack day</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://github.com/satyapramodh/securemyworld" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/android.png" alt="Android app">
                        </div>
                        <div class="content">
                            <b>Hackathon/Android/Secure my world</b>
                            <br>
                            <p>Android app to evaluate emotion of person by detecting anger or depression and use the
                                info to alert emergency
                                services to proactively handle the situation.</p>
                            <!-- Todo: Set this up on IOT cameras using AndroidThings -->
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://github.com/satyapramodh/securemyworldbot" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/bot-framework.png" alt="Bot Framework">
                        </div>
                        <div class="content">
                            <b>Hackathon/Bot/911</b>
                            <br>
                            <p>The new 911 bot. Companion bot for secure my world. Built with Microsoft Bot Framework.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="/flexbox-timeline/timeline.html" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/flextimeline.png" alt="Flexbox timeline">
                        </div>
                        <div class="content">
                            <b>Web Experiments/Flexbox timeline</b>
                            <br> Using css flexbox to create a timeline view
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://github.com/satyapramodh/unit-converter" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/android.png" alt="Unit converter Android App">
                        </div>
                        <div class="content">
                            <b>Android/Unit Converter</b>
                            <br>
                            <p>Basic calculator, offline curreny converter, weight converter</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://web.archive.org/web/20130925184757/http://www.vitgravitas.com:80/" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/gravitas13_logo.png" alt="GraVITas 2013 Tech fest site">
                        </div>
                        <div class="content">
                            <b>Web/Gravitas 2013 tech fest</b>
                            <br>
                            <p>Developed VIT university's tech fest site in 2013</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a href="https://github.com/satyapramodh/supermarket-management" target="_blank">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="assets/images/estore.jpg" alt="Supermarket Management system">
                        </div>
                        <div class="content">
                            <b>Supermarket Management system</b>
                            <br>
                            <p>Make sales which automatically update inventory, reorder supplies, billing, salary,
                                customer and employee
                                managements.</p>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>